<% @sessions_calendar.each do |sessions_calendar_for_year| %>
  <div>
  <h2>{{ year here }}</h2>

  <% sessions_calendar_for_year.each do |session_calendar| %>
    <table class="sessions_calendar" >
      <tr>
        <th colspan="7" ><%= session_calendar.month_name %></th>
      </tr>

      <tr>
        <% weekdays_initials.each do |day_initial| %>
          <td><%= day_initial %></td>
        <% end %>
      </tr>

      <% session_calendar.monthly_calendar.weeks.each do |weekdays| %>
        <tr>
        <% weekdays.each do |day| %>
          <td class="<%= class_for_day(session_calendar.monthly_calendar, day) %>" >
            <%= day.number %>
          </td>
        <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
  </div>
<% end %>
