<!-- perfil do vereador aqui sem os projetos -->
<div>

  <h1>Perfil</h1>

</div>

<!-- projetos dos vereadores aqui -->
<div class="hero-unit projetos">

  <h1>Projetos</h1>

  <div style="border: solid 1px black; margin-top: 20px;">
    Grafico
    <p>Voto: 35</p>
    <p>Absteve-se: 35</p>
    <p>Representação Externa: 35</p>
    <p>Ausente: 35</p>
  </div>


  <div style="border: solid 1px black; margin-top: 20px;">
    <p>Total de votos: 140</p>
    <div class="left">
      <p>Voto</p>
      <p>35</p>
    </div>

    <div class="left">
      <p>Absteve-se</p>
      <p>35</p>
    </div>

    <div class="left">
      <p>Representação Externa</p>
      <p>35</p>
    </div>

    <div class="left">
      <p>Ausente</p>
      <p>35</p>
    </div>

    <div class="clear"></div>
  </div>

</div>
