<!-- perfil do vereador aqui sem os projetos -->
<div class="content">
  <div class="hero-unit">
      <div class="col-md-4">
      	  {{vereadoress | json}}
            <div class="panel panel-default">
              <div class="panel-heading">{{vereador.nome}}</div>
              <div class="panel-body">

                 
                 <img ng-src="../img/vereadores/{{vereador.foto}}" class="img-rounded perfilvereador">


                 <p>({{vereador.partido}})</p>

                  <a href="http://twitter.com/{{vereador.twitter}}" target="_blank">
                    <img ng-src="../img/twitter-bird-light-bgs.png">
                  </a>
                  <a href="{{vereador.facebook}}" target="_blank">
                    <img ng-src="../img/FB-f-Logo__blue_50.png">
                  </a>

                  <small>
                    <a href="mailto:{{vereador.email}}">{{vereador.email}}</a>
                  </small>

              </div>

            </div>
      </div>

      <!-- projetos dos vereadores aqui -->
      <div class="col-md-8">


          <div class="panel panel-default">
              <div class="panel-heading">Grafico de votação</div>
              <div class="panel-body">
                 <canvas id="cvs" width="500" height="250">[No canvas support]</canvas>
                 {{ initGrafico() }}
              </div>
          </div>

          <div class="well">
            <div class="col-md-3">
              <p>Voto{{vereador[0].projetosVotos.voto}}</p>
            </div>
            <div class="col-md-3">
              <p>Absteve-se{{vereador[0].projetosVotos.absteve}}</p>
            </div>
            <div class="col-md-3">
              <p>Rep.Ext {{vereador[0].projetosVotos.repExterna}}</p>
            </div>
            <div class="col-md-3">
              <p>Ausente {{vereador[0].projetosVotos.ausente}}</p>
            </div>
          </div>

          <div class="well">

            <p>Total de votos: {{perfil.projetosVotos.voto + perfil.projetosVotos.absteve + perfil.projetosVotos.repExterna + perfil.projetosVotos.ausente}}</p>

            <div class="col-md-3">

              <p>Voto</p>

            
              <p>{{perfil.projetosVotos.voto}}</p>

            </div>

            <div class="col-md-3">
              <p>Absteve-se</p>

              
              <p>{{perfil.projetosVotos.absteve}}</p>
            </div>

            <div class="col-md-3">
              <p>Rep.Ext</p>
              <p>{{perfil.projetosVotos.repExterna}}</p>

            </div>

            <div class="col-md-3">
              <p>Ausente</p>

              
              <p>{{perfil.projetosVotos.ausente}}</p>

            </div>
          </div>
      </div>
  </div>
</div>
