<section class="bg-azul slogan">
  <h1>
    VOCÊ VOTOU, VOCÊ ELEGEU, AGORA VOCÊ FISCALIZA.
  </h1>
  <p>
    Uma plataforma que mostra o que está acontecendo no legislativo acompanhando o trabalho dos vereadores e o dia a dia na Câmara.
  </p>
</section>

<section class="conteudo vereadores">
  <h2 class="titulos-secoes">Presença na câmara</h2>
  <p>
    O legislativo de uma cidade é encabeçado pelos vereadores. Eles tem três funções principais: fiscalizar as ações da prefeitura; defender os interesses da comunidade e elaborar projetos de lei. Para executar parte dessas atividades é preciso sua presença na câmara e é dessa forma que começamos nossa fiscalização, observando a assiduidade de nossos representantes.
  </p>

  <ul class="lista-vereadores">
    <li ng-repeat="vereador in vereadores | embaralhar">

      <div class="vereador">
        <div>
          <a href="#/vereador/{{vereador.nome}}">
            <img ng-src="../img/vereadores/{{vereador.foto}}" class="vereador img-rounded">
          </a>
        </div>

        <div class="vereador-contatos">
          <p><a href="/#/vereador/{{vereador.nome}}"> {{vereador.nome}} ({{vereador.partido}}) </a></p>
          <p>{{vereador.email}}</p>
          <p>{{vereador.telefone}}</p>
        </div>

        <div class="rede-social">
          <div class="vereador-twitter"><a href="https://twitter.com/{{vereador.twitter}}" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></div>
          <div class="vereador-facebook"><a href="{{vereador.facebook}}" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></div>
        </div>
      </div>

      <div class="border-bottom-vereador">
        <div class="presence-meter-bar low-frequency" data-frequency="39%">
          <span class="presence-meter-amount" style="width:39%;">
              Freqüencia de 39%
          </span>
        </div>
      </div>

    </li>
    <li class="clear"></li>
  </ul>

</section>

<section id="form">
  <h2 class="titulos-secoes">Entre em contato conosco</h2>
  <form id="contatenos" action=".">

    <fieldset>
      <label>Nome<input name="name" class="input" required="" type="text"></label>
      <label>E-mail<input name="email" class="input" required="" type="email"></label>
      <label>Mensagem<textarea name="message" class="input-text" required=""></textarea></label>
      <input class="submit" value="Enviar" data-track="contato/submit/email" type="submit">
    </fieldset>

  </form>
</section>
<section id="info">
    <h2 class="titulos-secoes">Expediente</h2>
    <div class="info-comovamos">

      <p>O Porto Alegre Como Vamos é um movimento da sociedade civil, apartidário, sem fins lucrativos, que pretende trazer o cidadão a participar dos processos que acontecem na cidade, incidindo em políticas públicas e promovendo espaços de interação abertos para a melhoria da cidade.</p>

      <p>Temos como objetivo contribuir para fortalecimento da democracia e de qualidade de vida, mantendo um compromisso com o desenvolvimento sustentável e com a justiça social. Somos um organismo aberto, com o dever de acolher qualquer pessoa que com ele resolver interagir.</p>

      <p>O grupo se propõe a atuar no monitoramento do desenvolvimento humano da cidade, no controle social e transparência das atividades do setor público quanto a sua gestão, na facilitação da relação entre sociedade civil e governo e no estímulo à cultura de colaboração entre a sociedade civil.</p>

      <p>Os focos da nossa atuação são: Educação Política, Transparência e Desenvolvimento Humano.</p>

    </div>

    <dl>
      <dt class="social-title">e-mail</dt>
      <dd>votocomovamos@gmail.com</dd>

      <dt class="social-title">social</dt>
      <dd><a target="_blank" href="http://voto.poacomovamos.org/">Blog</a></dd>
      <dd><a target="_blank" href="http://www.facebook.com/poacomovamos">Facebook</a></dd>
      <dd><a target="_blank" href="http://twitter.com/poacomovamos">Twitter</a></dd>
    </dl>

  </section>
