<!-- perfil do vereador aqui sem os projetos -->
<div class="content">
  <div class="hero-unit">
      <div class="col-md-3">
      	  {{vereadoress | json}}
            <div >
              <div class="perfilvereador">
                <img ng-src="../img/vereadores/perfil/{{vereador.foto}}" class="perfilvereador" />
                  {{vereador.nome}} <br />
                  {{vereador.partido}} <br />
                  ({{vereador.telefone}}) <br />
                  <small class='emailvereador'>
                    {{vereador.email}}
                  </small>
                  <hr class="linha-perfil"/>
                  Presença na câmara
                  <div class="presence">
                    <div class="presence-meter-bar high-frequency" data-frequency="100%">
                      <span class="presence-meter-amount" style="width:100%;">Freqüencia de 39%</span>
                    </div>
                  </div>
                  <div>
                    <a href="http://www.twitter.com/{{vereador.twitter}}" target="_blank">
                      <div class='social'>
                        <i class="fa fa-twitter"></i>
                      </div>
                    </a>
                    <a href="{{vereador.facebook}}" target="_blank">
                      <div class='social'>
                        <i class="fa fa-facebook"></i>
                      </div>
                    </a>
                </div>
              </div>
            </div>
      </div>

      <!-- projetos dos vereadores aqui -->
      <div class="col-md-9">
              <div class="panel-heading">Gráfico de votação em projetos</div>
              <div class="panel-body">
                 <canvas id="cvs" width="600" height="350">[No canvas support]</canvas>
                 {{ initGrafico() }}
              </div>
      </div>

      <div class="col-md-12 projetos">
            <h5>TOTAL DE PROJETOS: </h5>
             <!-- Nav tabs -->
              <ul id="tab-projetos" class="nav nav-tabs">
                <li class="active desactive"><a href="#votou" data-toggle="tab">VOTOU</a></li>
                <li class="desactive"><a href="#naovotou" data-toggle="tab">NÃO VOTOU</a></li>
                <li class="desactive"><a href="#ausente" data-toggle="tab">AUSENTE</a></li>
                <li class="desactive"><a href="#externa" data-toggle="tab">REP.EXTERNA</a></li>
                <li class="desactive"><a href="#abstencao" data-toggle="tab">ABSTENÇÃO</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">

                <div class="tab-pane active" id="votou">
                  <div class="col-md-2 titulo">Projeto</div>
                  <div class="col-md-6 titulo">Ementa</div>
                  <div class="col-md-2 titulo">Data de abertura</div>
                  <div class="col-md-2 titulo">Voto</div>

                  <div class="datalhes-projeto">
                    <div class="col-md-2">02246/2013 - PLL</div>
                    <div class="col-md-6">
                        abstencao = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </div>
                    <div class="col-md-2">22/05/2013</div>
                    <div class="col-md-2">Sim</div>
                  </div>

                  <div class="datalhes-projeto">
                    <div class="col-md-2">02246/2013 - PLL</div>
                    <div class="col-md-6">
                        abstencao = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </div>
                    <div class="col-md-2">22/05/2013</div>
                    <div class="col-md-2">Sim</div>
                  </div>

                </div>

                <div class="tab-pane" id="naovotou">
                  <div class="col-md-2 titulo">Projeto</div>
                  <div class="col-md-6 titulo">Ementa</div>
                  <div class="col-md-2 titulo">Data de abertura</div>
                  <div class="col-md-2 titulo">Voto</div>

                   <div class="datalhes-projeto">
                    <div class="col-md-2">02246/2013 - PLL</div>
                    <div class="col-md-6">
                        abstencao = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </div>
                    <div class="col-md-2">22/05/2013</div>
                    <div class="col-md-2">Não votou</div>
                  </div>
                </div>

                <div class="tab-pane" id="ausente">
                  <div class="col-md-2 titulo">Projeto</div>
                  <div class="col-md-6 titulo">Ementa</div>
                  <div class="col-md-2 titulo">Data de abertura</div>
                  <div class="col-md-2 titulo">Voto</div>

                   <div class="datalhes-projeto">
                    <div class="col-md-2">02246/2013 - PLL</div>
                    <div class="col-md-6">
                        abstencao = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </div>
                    <div class="col-md-2">22/05/2013</div>
                    <div class="col-md-2">Ausente</div>
                  </div>
                </div>

                <div class="tab-pane" id="externa">
                  <div class="col-md-2 titulo">Projeto</div>
                  <div class="col-md-6 titulo">Ementa</div>
                  <div class="col-md-2 titulo">Data de abertura</div>
                  <div class="col-md-2 titulo">Voto</div>

                   <div class="datalhes-projeto">
                    <div class="col-md-2">02246/2013 - PLL</div>
                    <div class="col-md-6">
                        abstencao = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </div>
                    <div class="col-md-2">22/05/2013</div>
                    <div class="col-md-2">Rep.Externa</div>
                  </div>
                </div>

                <div class="tab-pane" id="abstencao">
                  <div class="col-md-2 titulo">Projeto</div>
                  <div class="col-md-6 titulo">Ementa</div>
                  <div class="col-md-2 titulo">Data de abertura</div>
                  <div class="col-md-2 titulo">Voto</div>

                   <div class="datalhes-projeto">
                    <div class="col-md-2">02246/2013 - PLL</div>
                    <div class="col-md-6">
                        abstencao = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </div>
                    <div class="col-md-2">22/05/2013</div>
                    <div class="col-md-2">Abstenção</div>
                  </div>
                </div>

              </div>
    </div>
  </div>
</div>
