<!-- perfil do vereador aqui sem os projetos -->
<div class="content">
  <div class="hero-unit">
      <div class="col-md-3">
      	  {{vereadoress | json}}
            <div >
              <div class="perfilvereador">
                <img ng-src="../img/vereadores/{{vereador.foto}}" class="perfilvereador">
                  {{vereador.nome}} <br />
                  {{vereador.partido}} <br />
                  ({{vereador.telefone}}) <br />
                  <small>
                    <a href="mailto:{{vereador.email}}">{{vereador.email}}</a>
                  </small>

                  Assiduidade
                  <div class="presence">
                    <div class="presence-meter-bar high-frequency" data-frequency="100%">
                      <span class="presence-meter-amount" style="width:100%;">Freqüencia de 39%</span>
                    </div>
                  </div>

              </div>
            </div>
      </div>

      <!-- projetos dos vereadores aqui -->
      <div class="col-md-9">
          <div>
              <div class="panel-heading">Grafico de votação em projetos</div>
              <div class="panel-body">
                 <canvas id="cvs" width="600" height="350">[No canvas support]</canvas>
                 {{ initGrafico() }}
              </div>
          </div>
      </div>

      <div class="col-md-12">
            <h4>TOTAL DE PROJETOS: </h4>
             <!-- Nav tabs -->
              <ul id="tab-projetos" class="nav nav-tabs">
                <li class="desactive"><a href="#votou" data-toggle="tab">VOTOU</a></li>
                <li class="desactive"><a href="#naovotou" data-toggle="tab">NÃO VOTOU</a></li>
                <li class="desactive"><a href="#ausente" data-toggle="tab">AUSENTE</a></li>
                <li class="desactive"><a href="#externa" data-toggle="tab">REP.EXTERNA</a></li>
                <li class="desactive"><a href="#abstencao" data-toggle="tab">ABSTENÇÃO</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">

                <div class="col-md-2 titulo">Projeto</div>
                <div class="col-md-6 titulo">Empresa</div>
                <div class="col-md-2 titulo">Data</div>
                <div class="col-md-2 titulo">Voto</div>

                <div class="tab-pane active" id="votou">
                  votou = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>



                <div class="tab-pane" id="naovotou">
                  naovotou = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>

                <div class="tab-pane" id="ausente">
                  ausente = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>

                <div class="tab-pane" id="externa">
                  externa = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>

                <div class="tab-pane" id="abstencao">
                  abstencao = Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>

              </div>
    </div>
  </div>
</div>
