<section class="bg-blue slogan">
  <h1>
    VOCÊ VOTOU, VOCÊ ELEGEU, AGORA VOCÊ FISCALIZA.
  </h1>
  <p>
    Uma plataforma que mostra o que está acontecendo no legislativo acompanhando o trabalho dos vereadores e o dia a dia na Câmara.
  </p>
</section>
<!--
<div class="contentvereadores-ext">
  <div class="hero-unit">
    <div class="contentvereadores-int">
    {{vereadoress | json}}
    <div class="vereador" ng-repeat="vereador in vereadores | embaralhar">
      <div class="well">
        <ul>
          <li class="picture">
           <a href="#/vereador/{{vereador.nome}}">
             <img ng-src="../img/vereadores/{{vereador.foto}}" class="vereador img-rounded">
           </a>
          </li>
          <li class="description">
          <dl >
            <dt><a href="/#/vereador/{{vereador.nome}}"> {{vereador.nome}} ({{vereador.partido}}) </a><i ng-class="{ true: 'icon-ok', false: 'icon-remove' }[vereador.presencaUltimaSessao]"></i></dt>
            <dd class="email"><a href="mailto:{{vereador.email}}">{{vereador.email}}</a></dd>
          </dl>
          </li>
          <li class="social">
            <a href="http://twitter.com/{{vereador.twitter}}" target="_blank">
              <img ng-src="../img/twitter-bird-light-bgs.png" class="twitter-icon">
            </a>
            <a href="{{vereador.facebook}}" target="_blank">
              <img ng-src="../img/FB-f-Logo__blue_50.png" class="twitter-icon">
            </a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
-->

