<html>
  <head>
    <script src="js/vendor/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/vereadores.js"></script>
    <link rel="stylesheet" href="css/bootstrap-2.3.2.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="poaComoVamos">
    <h1>POA COMO VAMOS</h1>
    <div class="container" ng-view=""></div>

  </body>
</html>
