<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css" >
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="poaComoVamos">
    <div class="wrapper">
        <div class="header"></div>
        <div class="" ng-view=""></div>
    </div>

    <script type="text/javascript" src="js/vendor/RGraph.common.core.js" ></script>
    <script type="text/javascript" src="js/vendor/RGraph.bar.js" ></script>
    <!--[if lt IE 9]><script src="js/vendor/excanvas.js"></script><![endif]-->

    <script type="text/javascript" src="js/vendor/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="js/vendor/jquery-ui.js"></script>
    <script type="text/javascript" src="js/vendor/angular-1.0.0.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <!--<script src="js/vendor/angular.js"></script> -->
    <script src="js/vendor/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/vereadores.js"></script>
    <script src="js/services/vereador.js"></script>
    <script src="js/filters/embaralhar.js"></script>
    <script src="js/controllers/vereadores.js"></script>
    <script src="js/controllers/components.js"></script>
    <script src="js/controllers/vereador.js"></script>
  </body>
</html>
