<html>
  <head>
    <script src="js/vendor/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/vereadores.js"></script>
  </head>
  <body ng-app="poaComoVamos">
    <h1>POA COMO VAMOS</h1>
    <div class="container" ng-view=""></div>

  </body>
</html>
