body {
  background: url('../img/background_desktop.jpg');
  background-attachment: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
}

section#barra-menu{
  height: 43px;
  padding-top: 9px;
}

section#barra-menu input {
  float: right;
  margin-right: 20px;
}

section#barra-menu ul{
  float: left;
  padding-left: 20px;
}

section#barra-menu ul li{
  display: inline-block;
}

section#barra-menu ul li a{
  color: white;
}

.content {
  margin: 0 auto;
  width: 980px;
  text-align: center;
  z-index: 0;
  color: #FFF;
}

.blue {
  background-color: #2E81B7;
}

.bg-blue{
  background-color: rgb(41, 127, 185);
}

div#transparency {
  background-color: white;
  opacity: 0.6;
  height: 260px;
  position: relative;
  z-index: 1;
}
div#poa-dialog {
  margin-top: 35px;
  margin-left: 403px;
  width: inherit;
  position: absolute;
  z-index: 2;
}
div#poa-logo {
  margin-left: 369px;
  margin-top: 135px;
  width: inherit;
  position: absolute;
  z-index: 2;
}

section.slogan{
  height: 214px;
  text-align: center;
  padding-top:10px;
}

section.slogan h1{
  margin-top:0px;
  font-weight: bold;
  font-size: 38.5px;
  padding: 20px 10px;
}

section.slogan p{
  font-size: 18px;
}

section.slogan h1, section.slogan p{
  width: 612px;
  text-align: center;
  margin: auto;
}

li.option a {
  height: 30px;
  display: block;
  color: white;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  text-shadow: none;
}

li.option a:hover {

}

div.vereador {
  width: 45%;
  float: left;
  margin: 10px;
  font-size: 0.8em;
}

img.vereador {
  height: 140px;
  width: 100%;
}

.vereador ul li {
  margin: 0px;
  float: left;
  list-style-type: none;
}

.vereador ul li.picture {
  width: 25%;
}
.vereador ul li.description {
  width: 60%;
  height: 120px;
  margin-left: 5px;
  margin-right: 5px;
}

.vereador ul li.social {
  width: 10%;
}

div.perfilvereador {
  text-align: center;
  margin-top: 20px;
}

img.perfilvereador {
  height: 140px;
  width: 50%;
}

dd.email {
  font-size: 0.8em;
}

.hero-unit {
    margin: 0 auto;
    width: 940px;
    font-weight: 200;
    line-height: 30px;
    padding: 20px;
    background-color: #2D3E4F;
    border-radius: 6px;
    font-size: 18px;
    float: left;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.projetos {
  color: white;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.panel{
  padding-bottom: 10px;
}

.well {
  height: auto;
  float: left;
  width: 100%;
}

.contentvereadores-ext {
  margin: 0 auto;
  width: 940px;
  z-index: 0;
  color: #000000;
}

.contentvereadores-int {
  margin: 0 auto;
  width: 955px;
  z-index: 0;
  color: #000000;
}

header input {
  width: 200px;
}

div.busca {
  margin-left: 2px;
  background-color:  white;
  width: 196px;
  border-radius: 5px;
  z-index: 3;
  position:relative;
  margin-left: 762px;
}

.logo{
  z-index: 0;
}

div.resultado-busca{
  border-bottom: solid;
  border-bottom-width: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: rgb(66, 139, 202);
  z-index: 3;
}
