@font-face {
  font-family: 'allerregular';
  src: url('../fonts/aller_rg-webfont.eot');
  src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/aller_rg-webfont.woff') format('woff'),
  url('../fonts/aller_rg-webfont.ttf') format('truetype'),
  url('../fonts/aller_rg-webfont.svg#allerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('../img/background_desktop.jpg');
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Menu */
section#barra-menu{
  height: 43px;
  padding-top: 9px;
}

section#barra-menu input {
  float: right;
  margin-right: 20px;
}

section#barra-menu ul{
  float: left;
  padding-left: 20px;
}

section#barra-menu ul li{
  display: inline-block;
}

section#barra-menu ul li a{
  color: white;
}
/* Menu - FIM */

.embrulhador {
  margin: 0 auto;
  width: 980px;
  text-align: center;
  z-index: 0;
  color: #FFF;
}

.bg-azul{
  background-color: rgb(41, 127, 185);
}

div#transparente {
  background-color: white;
  opacity: 0.6;
  height: 260px;
  position: relative;
  z-index: 1;
}
div#poa-dialogo {
  margin-top: 35px;
  margin-left: 403px;
  width: inherit;
  position: absolute;
  z-index: 2;
}
div#poa-logo {
  margin-left: 369px;
  margin-top: 135px;
  width: inherit;
  position: absolute;
  z-index: 2;
}

section.slogan{
  height: 214px;
  text-align: center;
  padding-top:10px;
}

section.slogan h1{
  margin-top:0px;
  font-weight: bold;
  font-size: 38.5px;
  padding: 20px 10px;
}

section.slogan p{
  font-size: 18px;
}

section.slogan h1, section.slogan p{
  width: 612px;
  text-align: center;
  margin: auto;
}

section.vereadores{
  padding: 30px 58px;
  background-color: rgb(43, 61, 79);
  text-align: left;
}

section.vereadores p.ordem-vereadores{
  margin-top: 30px;
}

section.vereadores ul{
  list-style: none;
  padding: 0;
}

section.vereadores ul li{
  display: inline-block;
  color: #bbc2c4;
}

section.vereadores ul li label{
  font-weight: 300;
}

section.vereadores ul.lista-vereadores li{
  display: block;
  width: 422px;
}

section.vereadores ul.lista-vereadores li:nth-child(odd){
  float:left;
}

section.vereadores ul.lista-vereadores li:nth-child(even){
  float:right;
}

div.vereador {
  background: #efeff1;
  margin-top: 20px;
}

div.vereador > div{
  display: inline-block;
  vertical-align: top;
}

ul.lista-vereadores div a img.vereador {
  height: 52px;
  width: 42px;
  border-radius: 0;
}

div.vereador-contatos{
  width: calc(100% - 84px);
}

div.vereador-contatos a{
  text-decoration: none;
  color: #2d3f51;
}

div.vereador p{
  margin: 0;
  font-size: 12px;
  font-family: 'allerregular';
  font-weight: bold;
  color: #2d3f51;
}

div.vereador p:first-child{
  text-transform: uppercase;
}

div.vereador div.vereador-twitter, div.vereador div.vereador-facebook{
  background-color: #3e454d;
  width: 36px;
  height: 26px;
  text-align: center;
  padding-top: 2px;
}

div.vereador div.vereador-twitter:hover, div.vereador div.vereador-facebook:hover{
  background: #bdc2c6;
}

div.vereador div.rede-social a{
  display: block;
}


div.vereador i{
  color: #ffffff;
}

ul.lista-vereadores .presence-meter-bar:before {
    width: 42px;
    font-size: 1.3rem;
    left: -50px;
}

ul.lista-vereadores .presence-meter-bar {
  margin: 18px 0 10px 50px;
}

ul.lista-vereadores li div.border-bottom-vereador{
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(39, 38, 43);
}

/* #form */
#form {
    background-color: #19bb9b;
    padding: 30px 58px;
}
#contatenos {
    background: #edeff1;
}
#form fieldset {
    padding: 30px;
    text-align: left;
}
#form label {
    color: #19bb9b;
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
    text-transform: uppercase;
}
.input {
    border: 1px solid #e2e2e2;
    height: 36px;
    margin-top: 6px;
    width: 100%;
    font-size: 15px;
    font-family: 'allerregular';
}
.input-text {
    border: 1px solid #e2e2e2;
    height: 140px;
    margin-top: 6px;
    width: 100%;
}
.submit {
    border: 0;
    background: #19bb9b;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 50px;
    text-transform: uppercase;
    -webkit-appearance:none;
}
/* end #form */

/* #info */
#info {
    background-color: #333333;
    color: #a4a4a4;
    line-height: 1rem;
    padding: 30px 58px;
    text-align: left;
}
#info a {
    color: #a4a4a4;
    text-decoration: none;
}
#info a:hover {
    text-decoration: underline;
}
.info-comovamos p {
    padding-bottom: 15px;
}
.social-title {
    font-family: 'allerregular', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px 0 3px 0;
}
.info-comovamos {
    float: left;
    width: 70%;
    margin-right: 20px;
    line-height: 14px;
    font-size: 12px;
}

#info > dl{
  margin-top: -33px;
  padding-bottom: 50px;
}
/* end #info */

.perfilvereador{
  background-color: #efefef;
  color: #2d3f51;
}

img.perfilvereador {
  height: 300px;
  width: 100%;
}

ul.lista-vereadores li:nth-last-child(-n+3) div.border-bottom-vereador{
  border: none;
}

.hero-unit {
    margin: 0 auto;
    width: 980px;
    font-weight: 200;
    line-height: 30px;
    padding: 30px 25px 0 15px;
    background-color: #2D3E4F;
    font-size: 18px;
    float: left;
}

.titulos-secoes {
    color: rgb(255, 255, 255);
    font-family: 'allerregular',sans-serif;
    font-size: 14.5px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0px;
    text-align: left;
}

.projetos {
  color: white;
  margin-top: 40px;
}

.left {
  float: left;
}

.clear {
  clear: both;
  float: none !important;
}

.panel{
  padding-bottom: 10px;
}

.well {
  height: auto;
  float: left;
  width: 100%;
  color: black;
}

.contentvereadores-ext {
  margin: 0 auto;
  width: 940px;
  z-index: 0;
  color: #000000;
}

.contentvereadores-int {
  margin: 0 auto;
  width: 955px;
  z-index: 0;
  color: #000000;
}

header input {
  width: 200px;
}

.tab-content{
  background-color: #C4DEED;
  color: #000000;
  padding: 20px;
  float: left;
}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
   background-color: #C4DEED;
}

.nav-tabs > li {
    width: 180px;
    font-size: 12px;
}

.desactive {
  background-color: #2D638F;
  margin-right: 2px;
  border-radius: 6px 6px 0 0;
}

.nav-tabs > li > a {
  margin-right: 0;
  color: #FFFFFF;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus  {
  color: #000000;
}

.tab-pane {
   text-align: justify;
}

.titulo {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #2D3E4F;
}

.twitter-link, .facebook-link {
    background: none repeat scroll 0 0 #3E454D;
    bottom: 0;
    color: rgba(0, 0, 0, 0);
    display: block;
    font: 0px/0 a;
    height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    width: 50%;
}
.twitter-link:hover, .facebook-link:hover {
    background: none repeat scroll 0 0 #BDC2C6;
}
.twitter-link {
    left: 0;
}
.facebook-link {
    left: 50%;
}
.twitter-link:before, .facebook-link:before {
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 30px;
}
.hidden-text {
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    text-shadow: none;
}
.presence-meter-bar, .presence-meter-amount {
    border-radius: 2px;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    text-shadow: none;
}
.presence-meter-bar {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 8px;
    margin: 18px 0 10px 64px;
    position: relative;
}
.presence{
  clear: both;
  width: 100%;
  height: 50px;
  padding: 5px;
}
.presence-meter-bar:before {
    background: none repeat scroll 0 0 #44AB9A;
    color: #FFFFFF;
    content: attr(data-frequency);
    display: block;
    font-family: 'allerregular',sans-serif;
    font-size: 1rem;
    height: 30px;
    left: -64px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -11px;
    width: 60px;
}
.presence-meter-amount {
    background: none repeat scroll 0 0 #44AB9A;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}
.low-frequency .presence-meter-amount, .low-frequency:before {
    background: none repeat scroll 0 0 #BF392B;
}

small.emailvereador {
  font-size: 10px;
}

.linha-perfil {
  margin: 10px 20px 10px 20px;
}

div.social {
  background-color: #50585D;
  width: 50%;
  float: left;
  font-size: 2em;
  padding: 10px;
}

div.perfilvereador a {
  color: #FFFFFF;
}

div.perfilvereador a:hover {
  color: #428BCA;
}

.datalhes-projeto {
  background-color: #FFFFFF;
  opacity: 0.7;
  padding:  10px 0 10px 0;
  float: left;
  width: 100%;
  height: auto;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.panel-heading{
  padding: 0 0 103px 0;
}
