
@font-face {
    font-family: "allerregular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/aller_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_rg-webfont.woff") format("woff"), url("../fonts/aller_rg-webfont.ttf") format("truetype"), url("../fonts/aller_rg-webfont.svg#allerregular") format("svg");
}
html {
    width: 100%;
}
body {
    color: #FFFFFF;
    font-family: 'Lato',sans-serif;
    margin: 0 auto;
    width: 100%;
}
a {
    color: #FFFFFF;
}
.sectiontitles {
    color: #FFFFFF;
    font-family: 'allerregular',sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}
nav {
    background-color: #297FB9;
    font-family: 'allerregular',sans-serif;
    font-size: 0.689rem;
    height: 42px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}
nav li {
    display: inline-block;
    margin: 0 8px;
}
nav a {
    color: inherit;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
#home h1 {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("../img/background_mobile.jpg");
    background-position: center center, center top;
    background-repeat: repeat, no-repeat;
    background-size: 100% 100%, auto 100%;
    display: table;
    height: 260px;
    text-align: center;
    width: 100%;
}
#home h1 div {
    display: table-cell;
    vertical-align: middle;
}
#home .cta {
    background-color: #297FB9;
    font-family: 'allerregular',sans-serif;
    text-align: center;
}
#home .cta h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
    margin: 0 auto;
    max-width: 16em;
    padding: 20px 10px;
    text-transform: uppercase;
}
#home .cta p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0 10px 30px;
}
#list {
    background-color: #2B3D4F;
    padding: 30px 10px;
}
#list p {
    margin-bottom: 10px;
}
#list .order-by li {
    display: block;
    height: 1.5rem;
    margin-right: 6%;
}
#list .order-by-text {
    margin-top: 30px;
}
#list input {
    opacity: 0;
}
#list label {
    color: #BDC2C6;
    position: relative;
}
#list label:before {
    color: #BBC2C4;
    font-size: 1.2rem;
    left: -25px;
    position: absolute;
    top: 0;
}
#list input:checked + label {
    color: #46AB9D;
}
#list input:checked + label:before {
    color: #47A698;
    content: "";
}
#list .vereadores {
    margin-top: 10px;
}
#list .vereadores li {
    border-bottom: 1px solid #27262B;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#list .vereadores li:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.box-vereador {
    background: none repeat scroll 0 0 #EFEFF1;
    color: #2D3F51;
    font-family: 'allerregular',sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1rem;
    margin-top: 10px;
    min-height: 76px;
    padding-bottom: 30px;
    padding-left: 66px;
    position: relative;
}
.word-wrapping {
    word-wrap: break-word;
}
.box-vereador img {
    height: 76px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}
.info-vereador {
    padding-right: 4px;
}
.info-vereador-name {
    padding-top: 4px;
    text-transform: uppercase;
}
.info-vereador-bottom {
    margin-bottom: 4px;
}
.info-vereador-bottom a {
    color: #2D3F51;
}
.twitter-link, .facebook-link {
    background: none repeat scroll 0 0 #3E454D;
    bottom: 0;
    color: rgba(0, 0, 0, 0);
    display: block;
    font: 0px/0 a;
    height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    width: 50%;
}
.twitter-link:hover, .facebook-link:hover {
    background: none repeat scroll 0 0 #BDC2C6;
}
.twitter-link {
    left: 0;
}
.facebook-link {
    left: 50%;
}
.twitter-link:before, .facebook-link:before {
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 30px;
}
.hidden-text {
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    text-shadow: none;
}
.presence-meter-bar, .presence-meter-amount {
    border-radius: 2px;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    text-shadow: none;
}
.presence-meter-bar {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 8px;
    margin: 18px 0 10px 64px;
    position: relative;
}
.presence-meter-bar:before {
    background: none repeat scroll 0 0 #44AB9A;
    color: #FFFFFF;
    content: attr(data-frequency);
    display: block;
    font-family: 'allerregular',sans-serif;
    font-size: 1rem;
    height: 30px;
    left: -64px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -11px;
    width: 60px;
}
.presence-meter-amount {
    background: none repeat scroll 0 0 #44AB9A;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}
.low-frequency .presence-meter-amount, .low-frequency:before {
    background: none repeat scroll 0 0 #BF392B;
}
#form {
    background-color: #19BB9B;
    padding: 30px 10px;
}
#contact-us {
    background: none repeat scroll 0 0 #EDEFF1;
}
#form fieldset {
    padding: 30px;
}
#form label {
    color: #19BB9B;
    display: block;
    font-size: 0.689rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.input {
    border: 1px solid #E2E2E2;
    height: 36px;
    margin-top: 6px;
    width: 100%;
}
.input-text {
    border: 1px solid #E2E2E2;
    height: 140px;
    margin-top: 6px;
    width: 100%;
}
.submit {
    background: none repeat scroll 0 0 #19BB9B;
    border: 0 none;
    color: #FFFFFF;
    font-family: 'Lato',sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 50px;
    text-transform: uppercase;
}
#info {
    background-color: #333333;
    color: #A4A4A4;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 30px 10px;
}
#info a {
    color: #A4A4A4;
    text-decoration: none;
}
#info a:hover {
    text-decoration: underline;
}
.info-comovamos p {
    padding-bottom: 15px;
}
.social-title {
    font-family: 'allerregular',sans-serif;
    font-weight: bold;
    padding: 30px 0 3px;
    text-transform: uppercase;
}
@media all and (min-width: 785px) {
#list .order-by li {
    display: inline;
}
}
@media all and (min-width: 600px) {
html {
    background-attachment: fixed;
    background-color: #FFFFFF;
    background-image: url("../img/background_desktop.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    max-width: 980px;
    width: 100%;
}
#home h1 {
    background-image: none;
}
nav {
    text-align: right;
}
nav ul {
    margin-right: 60px;
}
nav li {
    display: inline-block;
    margin-left: 50px;
}
#home .cta p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 0 auto;
    max-width: 34em;
    padding: 0 10px 30px;
}
#list p {
    font-size: 0.9rem;
    line-height: 1.2rem;
}
#list, #form, #info {
    padding: 30px 58px;
}
#list .vereadores {
    font-size: 0;
}
#list .vereadores li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    width: calc(50% - 10px);
}
#list .vereadores li:nth-child(2n) {
    margin-right: 0;
}
#list .vereadores li:nth-last-child(-n+2) {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.box-vereador {
    font-size: 0.75rem;
    line-height: 0.9rem;
    min-height: 52px;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 40px;
}
.box-vereador img {
    height: 52px;
    width: 42px;
}
.twitter-link, .facebook-link {
    height: 26px;
    left: auto;
    right: 0;
    width: 36px;
}
.twitter-link:before, .facebook-link:before {
    line-height: 26px;
}
.twitter-link {
    top: 0;
}
.facebook-link {
    top: 26px;
}
.presence-meter-bar {
    margin-left: 50px;
}
.presence-meter-bar:before {
    font-size: 0.8rem;
    left: -50px;
    width: 42px;
}
#info {
    overflow: hidden;
}
.info-comovamos {
    float: left;
    margin-right: 20px;
    width: 70%;
}
.social-title:first-child {
    padding-top: 0;
}
}
