<section id="form" class="contato">
  <h2 class="titulos-secoes">Entre em contato conosco</h2>
  <form id="contatenos" action=".">

    <fieldset>
      <label>Nome<input name="name" class="input" required="" type="text"></label>
      <label>E-mail<input name="email" class="input" required="" type="email"></label>
      <label>Mensagem<textarea name="message" class="input-text" required=""></textarea></label>
      <input class="submit" value="Enviar" data-track="contato/submit/email" type="submit">
    </fieldset>

  </form>
</section>