<section id="info" class="rodape">
    <h2 class="titulos-secoes">Expediente</h2>
    <div class="info-comovamos">

      <p>O Porto Alegre Como Vamos é um movimento da sociedade civil, apartidário, sem fins lucrativos, que pretende trazer o cidadão a participar dos processos que acontecem na cidade, incidindo em políticas públicas e promovendo espaços de interação abertos para a melhoria da cidade.</p>

      <p>Temos como objetivo contribuir para fortalecimento da democracia e de qualidade de vida, mantendo um compromisso com o desenvolvimento sustentável e com a justiça social. Somos um organismo aberto, com o dever de acolher qualquer pessoa que com ele resolver interagir.</p>

      <p>O grupo se propõe a atuar no monitoramento do desenvolvimento humano da cidade, no controle social e transparência das atividades do setor público quanto a sua gestão, na facilitação da relação entre sociedade civil e governo e no estímulo à cultura de colaboração entre a sociedade civil.</p>

      <p>Os focos da nossa atuação são: Educação Política, Transparência e Desenvolvimento Humano.</p>

    </div>

    <dl>
      <dt class="social-title">e-mail</dt>
      <dd>votocomovamos@gmail.com</dd>

      <dt class="social-title">social</dt>
      <dd><a target="_blank" href="http://voto.poacomovamos.org/">Blog</a></dd>
      <dd><a target="_blank" href="http://www.facebook.com/poacomovamos">Facebook</a></dd>
      <dd><a target="_blank" href="http://twitter.com/poacomovamos">Twitter</a></dd>
    </dl>

  </section>
