<section id="info" class="rodape-interna">
    <div>
      <ul class="social-title">
        <li>E-MAIL</li><br>
        <li>votocomovamos@gmail.com</li>
      </ul>
      

      <ul class="social-title">
        <li>SOCIAL</li><br>
        <li><a target="_blank" href="http://voto.poacomovamos.org/">Blog</a></li>
        <li><a target="_blank" href="http://www.facebook.com/poacomovamos">Facebook</a></li>
        <li><a target="_blank" href="http://twitter.com/poacomovamos">Twitter</a></li>
      </ul>
      
    </div>
    <div class="clear"></div>
</section>