<div id="header">
  <span>
  <p>O acesso a informação de forma clara possibilita ao cidadão compreender o que está acontecendo na esfera pública e assim se aproximar de um terreno que já é seu por direito.</p>
  <p>Participando, cobrando e votando conscientemente</p>
  <span>
</div>

<div id="diario_da_camara">
  <p>Saiba o que está acontecendo diariamente na câmara de vereadores</p>
  <ul>
    <li><a href="/assiduidade">ASSIDUIDADE</a></li>
  </ul>
</div>

