#header {
  background-image: url('/assets/porto-alegre-predio.png');
  background-repeat: no-repeat;
  background-position: right; 

  min-height: 160px;

  p {
    width: 50em;
  }
  span {
    padding: 30px 20px 20px 40px;
  }
  
  img {
    float: right;
  }
}

#diario_da_camara {

  ul {
    li {
      list-style: none;
    }
  }

  background-color: green;
  padding: 20px;
  margin-top: 30px;
  -webkit-border-radius: 20px;
}
