// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions_calendar {
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0px;

  td {
    border: black solid 1px;
  }

  th {
    border: black solid 1px;
  }

  tr {
    border: black solid 1px;
  }
}

.out_of_month {
  color: gray;
}

.presence_color_0 { background-color: #FFFFFF; };
.presence_color_1 { background-color: #99FF99; };
.presence_color_2 { background-color: #97FF97; };
.presence_color_3 { background-color: #95FF95; };
.presence_color_4 { background-color: #93FF93; };
.presence_color_5 { background-color: #91FF91; };
.presence_color_6 { background-color: #89FF89; };
.presence_color_7 { background-color: #87FF87; };
.presence_color_8 { background-color: #85FF85; };
.presence_color_9 { background-color: #83FF83; };
.presence_color_10 { background-color: #81FF81; };
.presence_color_11 { background-color: #79FF79; };
.presence_color_12 { background-color: #77FF77; };
.presence_color_13 { background-color: #75FF75; };
.presence_color_14 { background-color: #73FF73; };
.presence_color_15 { background-color: #71FF71; };
.presence_color_16 { background-color: #69FF69; };
.presence_color_17 { background-color: #67FF67; };
.presence_color_18 { background-color: #65FF65; };
.presence_color_19 { background-color: #63FF63; };
.presence_color_20 { background-color: #61FF61; };
.presence_color_21 { background-color: #59FF59; };
.presence_color_22 { background-color: #57FF57; };
.presence_color_23 { background-color: #55FF55; };
.presence_color_24 { background-color: #53FF53; };
.presence_color_25 { background-color: #51FF51; };
.presence_color_26 { background-color: #49FF49; };
.presence_color_27 { background-color: #47FF47; };
.presence_color_28 { background-color: #45FF45; };
.presence_color_29 { background-color: #43FF43; };
.presence_color_30 { background-color: #41FF41; };
.presence_color_31 { background-color: #39FF39; };
.presence_color_32 { background-color: #37FF37; };
.presence_color_33 { background-color: #35FF35; };
.presence_color_34 { background-color: #33FF33; };
.presence_color_35 { background-color: #31FF31; };
.presence_color_36 { background-color: #29FF29; };

