<header>
  <section id="barra-menu" class="bg-blue">
    <nav class="content">
      <ul>
          <li><a href="#">Inicio | </a></li>
          <li><a href="#">Presença na Câmara</a></li>
      </ul>
      <input type="text"/>
      <div class="clear"></div>
    </nav>
  </section>

  <section class="logo">
    <div id="poa-dialog">
      <img src="img/dialogs.png" alt="" title="" />
    </div>
    <div id="poa-logo">
      <img src="img/poa_logo.png" alt="Porto Alegre Como Vamos" title="Porto Alegre Como Vamos" />
    </div>  
    <div id="transparency"></div>
  </section>
</header>
