<header>

  <section>
    <nav class="content">
      <ul>
          <li><a href="#">Inicio | </a></li>
          <li><a href="#">Presença na Câmara</a></li>
      </ul>
      <input type="text"/>
      <div class="clear"></div>
    </nav>
  </section>

  <section class="transparency"></section>

  <section class="poa_dialog">
    <img src="img/dialogs.png"/>
  </section>

  <section class="poa_logo">
    <img src="img/poa_logo.png"/>
  </section>
<!--<div>
  <header class="header_logo"></header>
  <section class="content">
    <header class="blue">
      <ul class="nav pull-right">
        <li class="option"><a class="btn btn-link" href="#">Inicio</a></li>
      </ul>
    </header>
    <section class="transparency"></section>
    <section class="poa_dialog">
      <img src="img/dialogs.png"/>
    </section>
    <section class="poa_logo">
      <img src="img/poa_logo.png"/>
    </section>
  </section>
</div>
-->
</header>
