<div id="calendario_sessoes" ng-controller="CalendarioSessaoCtrl">
  <div class="calendario" ng-repeat="month in months" >
    <table>
      <th colspan="7" >{{month}}</th>
      <tr>
        <th ng-repeat="day in weekdaysHeader">{{day}}</th>
      </tr>
      <tr ng-repeat="row in calendarRowsFor($index + 1)" >
        <td ng-repeat="col in row" >{{col}}</td>
      </tr>
    </table>
  </div>
</div>
