<!DOCTYPE html>
<html ng-app="poaComoVamos">
  <head>
    <title>Poacomovamos</title>
    <%= stylesheet_link_tag("application", media: "all") %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <%= javascript_include_tag("application") %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div ng-view></div>
  </body>
</html>
